/* Avenir LT Pro Font Family */

/* Avenir LT Pro Light */
@font-face {
  font-family: 'Avenir-LT-light';
  src: url('./AvenirLTProLight.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

/* Avenir LT Pro Light Oblique */
@font-face {
  font-family: 'Avenir-LT';
  src: url('./AvenirLTProLightOblique.otf') format('opentype');
  font-weight: 300;
  font-style: oblique;
  font-display: swap;
}

/* Avenir LT Pro Medium */
@font-face {
  font-family: 'Avenir-LT';
  src: url('./AvenirLTProMedium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
