.cart-link-button {
    background: none;
    border: none;
    color: inherit;
    cursor: pointer;
    text-decoration: underline;
}

.cart-link-button:hover {
    opacity: 0.8;
}

.add-to-cart-button {
    background: none !important;
    border: none;
    color: var(--light-gray) !important;
    cursor: pointer;
    padding: 0;
    font: inherit;
    text-decoration: none;
    width: 100%;
}

.add-to-cart-button:hover {
    opacity: 0.8;
    text-decoration: underline;
}

.clickable {
    cursor: pointer;
}

.clickable:hover {
    opacity: 0.9;
}
