.cartIconColor{
    color: var(--light-gray) !important;
    font-size: 15px;
}

.badge{
    background-color: aqua !important;
}
li span{
    font-size: 13pt !important;
}
.navbar-nav li {
  margin: 0 1em;
  cursor: pointer;
}

.navbar-nav.user-logged-in li {
  margin: 0 0.9em;
}