.newsletter-signup {
    text-align: center;
    margin: 1.5rem 0;
}
.newsletter-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    margin-top: 0.5rem;
}
.newsletter-input,
.newsletter-btn {
    padding: 0.7rem 1rem;
    width: 475px;
    margin-top: 10px;
    font-size: 1rem;
    box-sizing: border-box;
}
.newsletter-input {
    border: 1px solid var(--black-color);
    outline: none;
}
.newsletter-btn {
    border: none;
    background: var(--black-color) !important;
    color: #fff;
    font-weight: 400;
    cursor: pointer;
    transition: background 0.2s;
}


.socialMediaDiv{
    margin-top: 40px;
    display: flex;
    gap: 16px;
    align-items: center;
    justify-content: center;
}

.icon-circle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: var(--black-color);
    color: var(--header-bg);
    text-decoration: none;
    transition: background 0.2s, color 0.2s;
    font-size: 1.5rem;
}
.icon-circle:hover {
    color: #404040;
} 
/* #business-hours table {
    width: 100%;
}


.inquire{
    margin:1.5rem 0 1.5rem 0
}

.footer-business-hours {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1.5rem;
}

.footer-business-hours table {
    margin: 0 auto;
    border-collapse: collapse;
}
.footer-business-hours td {
    padding: 0.25rem 1.2rem 0.25rem 0;
    text-align: left;
}
footer p {
    font-size: 1rem;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.2;
    color: inherit;
    margin-top: .5rem !important;
    margin-bottom: .5rem !important;
}

.copyRightDiv{
    margin-top: 20px;
}*/