:root {
  --primary-color: #2a2a72;
  --accent-color: #f7b32b;
  --header-bg: #fff;
  --light-gray: #404040;
  --light-gray-hover: #f7b32b;
  --black-color: #000000;
  --Footer-text-color: #212529;
  --light-color: #f0f0f0;
}
