/* .mainContainer {
  max-width: 1140px;
  margin: 0 auto;
  width: 100%;
  padding-left: 16px;
  padding-right: 16px;
  box-sizing: border-box;
}
.container {
  max-width: 1140px;
  margin: 0 auto;
  width: 100%;
  box-sizing: border-box;
} */
@import './assets/colors.css';
@import './assets/fonts/fonts.css';

/* :root {
  font-family: 'Avenir-LT', Arial, Helvetica, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  padding-top: 0;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

} */
/* 
a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  font-size: 1rem;
  font-weight:lighter !important;
  line-height: 1.5;
  color: #212529;
  text-align: left;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
} */
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
}

.addToCartButton {
  width: 100% !important;
  padding: 0px 20px !important;
  background-color: #fff !important;
  color: #404040 !important;
  border: none !important;
}
.addToCartButton:hover{
  text-decoration: underline;
}